mixin lib()
  script(src='js/extention/jquery-3.3.1.min.js')
  script(src='js/extention/bootstrap.min.js')
  script(src='js/extention/slick.min.js')
  script(src='js/extention/jquery.mmenu.all.min.js')
