//
// Base :: Global
// --------------------------------------------------
body {
  font-family: $robotoFont;
  font-size: 14px;
  color: $fontColor;
}

html {
  overflow-x: hidden;
}

// Background

