//
// Abstracts :: Mixins
// --------------------------------------------------
@mixin placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// fit image cover
@mixin fitImage {
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

// generator color variables
:root {
  @each $color, $value in $colors-theme {
    --hue-#{$color}       : #{hue($value)};
    --saturation-#{$color}: #{saturation($value)};
    --lightness-#{$color} : #{lightness($value)};
    --lightness-darker-#{$color} : #{lightness($value) - 5%};
    --lightness-lighten-#{$color} : #{lightness($value) + 5%};
  }
}
