mixin navigation()
  ul
    li
      a(href='#') HOME
      ul
        li
          a(href='index.html') Home Version  1
          ul
            li
              a(href='#') Event 2
            li
              a(href='#') Event 3
              ul
                li
                  a(href='#') Event 2
                li
                  a(href='#') Event 3
                  ul
                    li
                      a(href='#') Event 2
                    li
                      a(href='#') Event 3
                      ul
                        li
                          a(href='#') Event 2
                        li
                          a(href='#') Event 3
        li
          a(href='home_02.html') Home Version  2
        li
          a(href='home_03.html') Home Version  3
        li
          a(href='home_04.html') Home Version  4
        li
          a(href='home_05.html') Home Version  5
        li
          a(href='home_06.html') Home Version  6
        li
          a(href='home_07.html') Home Version  7
        li
          a(href='home_08.html') Home Version  8
    li
      a(href="#") ABOUT
    li
      a(href="#") PAGES
      ul
        li
          a(href='#') Shop
          ul
            li
              a(href='#') Shop 2
            li
              a(href='#') Shop 3
        li
          a(href='#') Event
          ul
            li
              a(href='#') Event 2
            li
              a(href='#') Event 3
        li
          a(href='#') Case Study
          ul
            li
              a(href='#') Event 2
            li
              a(href='#') Event 3
        li
          a(href='home_04.html') Coming Soon
        li
          a(href='home_05.html') 404 Error              
    li
      a(href="#") SERVICES 
    li
      a(href="#") BLOG
      ul
        li
          a(href='#') Blog Default
        li
          a(href='#') Blog Grid
          ul
            li
              a(href='#') Blog Grid No SideBar
            li
              a(href="#") Blog Grid with Left Sidebar
            li
              a(href="#") Blog Grid with Right Sidebar
        li
          a(href='#') Blog List
        li
          a(href='#') Single Blog
    li
      a(href="#") CONTACTS
      ul
        li
          a(href='#') Blog
        li
          a(href='#') Blog
          ul
            li
              a(href='#') Blog
            li
              a(href='#') Blog
            li
              a(href='#') Blog
              ul
                li
                  a(href='#') Blog
