extends modules/layout/layout.pug
include modules/script/lib
append content
  h1 cuong beo
append plugins  
  +lib
append script
  //- script(defer src="js/mobilemenu.min.js")
  //- script(defer src="js/main.min.js")

