doctype html
html
  head
    meta(http-equiv="Content-Type" content="text/html; charset=UTF-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    link(href="css/extention/bootstrap.min.css" rel="stylesheet")
    link(href="css/extention/animate.min.css" rel="stylesheet")
    link(href="css/extention/jquery.mmenu.all.min.css" rel="stylesheet")
    link(href="css/extention/lightgallery.min.css" rel="stylesheet")
    link(href="css/main.min.css" rel="stylesheet")
  body
    nav#menu
        ul
          li
            a(href='#') HOME
            ul
              li
                a(href='index.html') Home Version  1
              li
                a(href='home_02.html') Home Version  2
              li
                a(href='home_03.html') Home Version  3
              li
                a(href='home_04.html') Home Version  4
              li
                a(href='home_05.html') Home Version  5
              li
                a(href='home_06.html') Home Version  6
              li
                a(href='home_07.html') Home Version  7
              li
                a(href='home_08.html') Home Version  8
          li
            a(href="#") ABOUT
          li
            a(href="#") PAGES
            ul
              li
                a(href='#') Shop
                ul
                  li
                    a(href='#') Shop 2
                  li
                    a(href='#') Shop 3
              li
                a(href='#') Event
                ul.navi-level-3
                  li
                    a(href='#') Event 2
                  li
                    a(href='#') Event 3
              li
                a(href='#') Case Study
                ul.navi-level-3
                  li
                    a(href='#') Event 2
                  li
                    a(href='#') Event 3
              li
                a(href='home_04.html') Coming Soon
              li
                a(href='home_05.html') 404 Error              
          li
            a(href="#") SERVICES 
          li
            a(href="#") BLOG
            ul
              li
                a(href='#') Blog Default
              li
                a(href='#') Blog Grid
                ul
                  li
                    a(href='#') Blog Grid No SideBar
                  li
                    a(href="#") Blog Grid with Left Sidebar
                  li
                    a(href="#") Blog Grid with Right Sidebar
              li
                a(href='#') Blog List
              li
                a(href='#') Single Blog
          li
            a(href="#") CONTACTS
    .demo-gallery
      ul#lightgallery
        a(href='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
          img.img-responsive(src='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
        a(href='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
          img.img-responsive(src='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
        a(href='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
          img.img-responsive(src='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
        a(href='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
          img.img-responsive(src='http://sachinchoolur.github.io/lightGallery/static/img/8.jpg')
    script(src='js/extention/jquery-3.3.1.min.js')
  
